code {
  color: #476582;
  background: rgba(27,31,35,0.05);
}
pre {
  background: #282c34;
  color: #ddd;
  border-radius: 6px;
}
pre .string {
  color: #7ec699;
}
.gutter {
  display: none;
}
blockquote {
  background-color: #f3f5f7;
  border-color: #42b983;
  border-width: 6px;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #282c34;
  border-radius: 4px;
}
